body {
    background-image: url("images/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#overlay {
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    opacity:0.6;
    

}
h1 {
    position:relative;
    text-align: center;
    font-size:50px;
}
.cowsheds {
    position:relative;
    text-align: center;
    
}
label {
    
    display:block;
}
input {
    margin-bottom:20px;
}